/* body{
    background-color: aquamarine;
} */


/*/ RGB-CODE /*/

body{
    background-color:rgb(41, 246, 41);
}


/*/ HEXA-CODE /*/

/* body{
    background-color: #0752f6;
} */


/*/ HSL-CODE /*/

/* body{
    background-color: hsla(91, 89%, 48%, 0.866);
} */